/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #888;
}


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn-favor,
.btn-favor:hover,
.btn-favor:focus{
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #26aecc;
  border: .05rem solid #fff;

}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #444;
}

header {
	background-color: #37F;
	color: #fff;
	border-width: 0;
	background-image:linear-gradient(141deg, #80c0b0 0%, #20b8c0 51%, #2ca5d8 75%);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 1rem;
}

.nav-masthead .nav-link {
  padding: .25rem .75rem;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: rgba(255, 255, 255, .5);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  font-weight: 700;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
